body {
    margin: 0 auto;
    padding: 0;
    max-width: 1080px;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 46px;
}

.headinglogo {
    font-size: 24px;
    color: #F9FAF8;
   
}

ul {
    display: flex;
    list-style: none; 
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 16px;
}

.sections {
    display: flex;
    flex-direction: column;
}

.cappuccino {
    width: 400px;
    padding: 20px;
}

.one {
    display: flex;
    justify-content: center;
    padding: 46px;
    background-color: #1F2937;
}

.headingmain {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    
}

.pmain {
    color: #e5e7eb;
    font-size: 18px;
}

