body {
    margin: 0 auto;
    padding: 0;
    /* max-width: 1080px; */
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 46px;
}

.headinglogo {
    font-size: 24px;
    color: #F9FAF8;
   
}

ul {
    display: flex;
    list-style: none; 
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 16px;
}

.sections {
    display: flex;
    flex-direction: column;
}

.cappuccino {
    width: 400px;
    padding: 20px;
    border-radius: 50px;
}

.one {
    display: flex;
    justify-content: center;
    padding: 46px;
    background-color: #1F2937;
}

.headingmain {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    
}

.pmain {
    color: #e5e7eb;
    font-size: 18px;
}

.button1 {
    background-color: #3882f6;
    border-style: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
}

.headinginfo {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.infoimg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: #3882f6 solid 3px;
}

.containerinfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 70px;
}

.info {
    max-width: 200px;
}

.text {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}

.three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    margin: 0;
    
}

.quoteauthor {
    /* text-align: end; */
    align-self: flex-end;
    font-weight: bold;
   
}

